* {
  font-family: "Poppins", sans-serif;
}

.main-container {
  background: url('../../assets/img.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.form-box {
  border-radius: 12px !important;
}

.text-purple {
  color: #7419bd !important;
}

.border-purple {
  border: 1px solid #7419bd !important;
}

.form-control:focus, .form-select:focus {
  border-color: #7419bd;
  box-shadow: 0 0 0 0.2rem rgba(116, 25, 189, 0.3);
}

.btn-purple {
  background-color: #7419bd;
  color: #fff;
  border: none;
}

.btn-purple:hover {
  background-color: #5e1599;
}

.btn-outline-purple {
  background-color: transparent;
  border: 1px solid #7419bd;
  color: #7419bd;
}

.btn-outline-purple:hover {
  background-color: #7419bd;
  color: #fff;
}

